# Built appliction
*.apk
*.ap_

# Java class
*.class

# Windows thumbnail db
Thumbs.db

# OSX
.DS_Store

# Analytics
*.tap
*.trace

# Signing
*.jks
*.keystore

# Android Studio
*.iml
.idea/*
.gradle
/build
/captures
.externalNativeBuild
.cxx
/gradle.properties

# Local configuration
local.properties

